<h1>Update a Todo</h1>
<form action="/update/<%= @todo.id %>" method="post">
    <div>
        <label for="name">Todo: </label><br>
        <input name="name" id="name" type="text" value= "<%=@todo.name%>">
    </div>
    <div>
        <label for="place">Location: </label><br>
        <input name="place" id="place" type="text" value= "<%=@todo.place%>">
    </div>
    <div>
        <label for="note">Note: </label><br>
        <input name="note" id="note" type="text" value= "<%=@todo.note%>">
    </div>
    <input id="submit" type="submit" value="Update Todo">
</form>