<br>
<p id="auto">I can't forget that I need to</p>
<p id="user"><%= @todo.name %></p>
<p id="auto">at</p>
<p id="user"><%= @todo.place %></p>
<p id="auto">and I should also remember</p>
<p id="user"><%= @todo.note %></p>
<p><a id="blue" href='/home'>Return to list</a></p>